html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%; */
  /* font: inherit; */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  outline: 0;
  border: 0;
}
a {
  text-decoration: none;
  color: #ffffff;
}
* body {
  font-family: Work Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  /* color: #ffffff; */
}


h6 {
  text-transform: uppercase;
  font: bold 18px/1.5 "Work Sans";
}


.conteiner {
 margin: 0 auto; 
 /* padding: 0 15px; */
 max-width: 320px;
 background-color: #A52B41;

}

h6 {
  text-transform: uppercase;
  font: bold 18px/1.5 "Work Sans";
}

.position-cont {
  padding: 30px 0 10px;
  margin: 0 auto;
}
.ul {
  border: 1px solid green;
  /* display: flex;
  justify-content: center; */
  width: 280px;
  padding: 0 0 20px 15px;


.icon-1,
.icon-2,
.icon-3,
.icon-4 {
  content: "";


  display: block;
  background: url(./img/399.svg) no-repeat;
  width: 30px;
  height: 30px;
  float: left;

  margin: 9px 20px 0 0;
}
.icon-2::before {
  background: url(./img/Vector.svg) no-repeat;
}

.icon-3::before {
  background: url(./img/397.svg) no-repeat;
}

.icon-4::before {
  background: url(./img/398.svg) no-repeat;
}
@media screen and (max-width: 479px) {
  .container {
    width: 450px;
  }
  .position-cont {
    margin: 0 auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    display: block;
    max-width: 660px;
  }
  /* .ul {
    display: inline-block;
  } */
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
    display: flex;
    justify-content: space-between;
  }
  .ul {
    display: inline-block;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
  }
  .ul {
    display: inline-block;
    /* padding: 0 60px 0 60px; */
  }
  .position-cont {
    padding: 30px 0 10px;
    margin: 0 auto;
    max-width: 1400px;
  }
}

